In [8]:
import pandas as pd
import numpy as np

In [9]:
arrr={
    'name':['kushal','bhargav','Sunil'],
    'score': [23,22,24]
}
df112=pd.DataFrame(arrr)
newdf = df112.sort_values(by='score',ascending=True)
newdf

      name  score
1  bhargav     22
0   kushal     23
2    Sunil     24

In [10]:
newdf2=df112.sort_values(by='name',ascending=False)
newdf2

      name  score
0   kushal     23
1  bhargav     22
2    Sunil     24