In [1]:
import numpy as np

In [2]:
import pandas as pd

In [10]:
nd={
    'candidate':['bhargav','kushal','sunil'],
    'qualify':['Yes','No','No']
}
nnd=pd.DataFrame(nd)

In [11]:
nnd=nnd.replace('Yes',True)
nnd=nnd.replace('No',False)

In [12]:
nnd

  candidate  qualify
0   bhargav     True
1    kushal    False
2     sunil    False