In [3]:
import pandas as pd
import numpy as np
dff={
    'Name':['bhargav','kushal','sunil'],
    'section':['o','v','a']
}
index_labels = ['Student1', 'Student2','Student3']
dff=pd.DataFrame(dff,index=index_labels)
dff

             Name section
Student1  bhargav       o
Student2   kushal       v
Student3    sunil       a

In [5]:
dff2 = {
  "Name": ['anil','sanjay'],
  "section": ['f', 'j']
}
dff3=pd.DataFrame(dff2,index=['Student4','Student5'])
dff1=dff._append(dff3)
print(dff1)

             Name section
Student1  bhargav       o
Student2   kushal       v
Student3    sunil       a
Student4     anil       f
Student5   sanjay       j